@import url("fonts/Poppins/poppins.css");
@import url("fonts/Nippo/nippo.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-Poppins: "Poppins-Regular";
    --ff-Nippo: "Nippo-Regular";
    /* Colours */
    --black: #000000;
    --white: #ffffff;
    --green: #058C42;
    --blue: #1D56FA;
    --gold: #FFC857;
    /* Typography */
    --small: 16px;
    --medium: 1.25rem;
    --large: 1.44rem;
    --x-large: 2.074rem;
    --xl-large: 3rem;
    --xxl-large: 4rem;
}

body {
    background-color: var(--black);
    color: ivory;
    font-family: var(--ff-Poppins);
    height: 100vh;
    width: 100%;
}

p {
    font-size: var(--small);
}

h1 {
    font-size: var(--xxl-large);
}

i {
  font-size: 24px;
  color: white;
}

.button {
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--ff-Nippo);
  display: inline-flex;       
  align-items: center;
  justify-content: center;
  padding: 12px 24px;         
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  background-color: transparent;
  border: 2px solid var(--blue);
}

ul li {
    list-style: none;
}

.listItem {
    font-size: 20px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.listItem:hover {
    color: var(--gold);
}