@import url("../globals.css");

@keyframes fadeInScale {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes glitchOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) skewX(0deg);
  }
  30% {
    transform: translateX(-50%) skewX(20deg);
  }
  60% {
    transform: translateX(-50%) skewX(-20deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}

@keyframes scanSweep {
  0% {
    top: -100%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}