@import url("../globals.css");

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    overflow-x: hidden;
}

.heroCicada {
    width: 130px;
    opacity: .20;
}

.heroText {
    font-family: var(--ff-Nippo-Extralight);
    font-size: 5rem;
}

span {
    color: var(--green);
}

.heroSubText {
    font-family: var(--ff-Michroma);
    color: #A4A4A4;
    font-size: .7rem;
}

.textsAndLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.heroButtons {
    margin-bottom: 1.5rem;
}

.heroButtons button {
    margin-left: .3rem;
    margin-right: .3rem;
    font-size: 1rem;
}

.bgGlow {
    position: absolute;
    height: 80vh;
    width: 100%;
    z-index: -1;
}

.greenCircle1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #06C55C;
    position: absolute;
}
.greenCircle2 {
    height: 120px;
    width: 140px;
    border-radius: 50%;
    background-color: #069948;
    position: absolute;
}
.greenCircle3 {
    height: 160px;
    width: 170px;
    border-radius: 50%;
    background-color: #109c4f;
    position: absolute;
}

.greenGlow {
    position: absolute;
    filter: blur(120px);
    top: 20%;
    left: -20%;
    height: 200px;
    width: 200px;
}

.blueCircle1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #4000FF;
    position: absolute;
}
.blueCircle2 {
    height: 120px;
    width: 140px;
    border-radius: 50%;
    background-color: #0647FF;
    position: absolute;
}
.blueCircle3 {
    height: 130px;
    width: 120px;
    border-radius: 50%;
    background-color: #001aff;
    position: absolute;
}

.blueGlow {
    height: 200px;
    width: 200px;
    position: absolute;
    filter: blur(150px);
    top: 40%;
    right: 0%;
}

@media (min-width: 768px) {
    .heroCicada {
        width: 171px;
        height: 80px;
    }

    .heroText {
        /* font-size: 150px; */
        font-size: 9rem;
        margin-bottom: 0;
        line-height: 10rem;
    }

    .heroSubText {
        font-size: 1rem;
    }

    .greenGlow {
        left: 0%;
    }

    .blueGlow {
        right: 0%;
    }
}