@import url("../globals.css");

#services {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#services h2 {
  font-family: var(--ff-Nippo);
  font-size: 32px;
  margin-bottom: 4rem;
}

.serviceWrapper {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.card {
  width: 100%;
  padding: 1rem;
}

.card h4 {
  font-family: var(--ff-Nippo);
  font-size: 24px;
}

.card p {
  font-size: 12px;
  color: rgb(177, 176, 176);
}

.card-1,
.card-3 {
  border-left: 2px solid rgb(134, 134, 134);
  text-align: start;
}

.card-2 {
  border-right: 2px solid rgb(134, 134, 134);
  text-align: end;
}

.card h4,
.card p {
  margin-bottom: 1.5rem;
}

.card button {
  font-size: 16px;
  height: 40px;
  width: 150px;
}

@media (min-width: 768px) {
  #services {
    justify-content: center;
    height: auto;
  }

  .serviceWrapper {
    flex-direction: row;
    gap: 8rem;
    height: auto;
  }

  .card-2 {
    border-right: none;
    border-left: 2px solid rgb(134, 134, 134);
    text-align: start;
  }

  .card {
    width: 250px;
  }
}
